* {
  font-size: 14px;
  font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
  all: unset;
}

/* --------- containers --------- */

.modules-left,
.modules-center,
.modules-right {
  padding: 8px;
  border-radius: 10px;
  background: rgba(25, 23, 27, 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-left {
  margin: 10px 0 5px 10px;
}

.modules-center {
  margin: 10px 0 5px 0px;
}

.modules-right {
  margin: 10px 10px 5px 0px;
}

/* --------- tooltip --------- */

tooltip {
  background: #19171b;
  color: #ffffff;
}

/* --------- generic hover --------- */

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#mpris:hover {
  transition: all 0.3s ease;
  color: #75020f; /* light red on hover */
}

/* --------- individual modules --------- */

#custom-notification,
#clock,
#custom-pacman,
#cpu,
#memory,
#temperature,
#tray,
#pulseaudio,
#mpris {
  padding: 0px 8px; /* a little more padding so things don't look cramped */
  color: #ffffff; /* base text color */
  transition: all 0.3s ease;
}

#memory {
  padding-right: 10px;
}
/* --------- workspaces --------- */

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: rgba(117, 2, 15, 0.4); /* #75020f with alpha */
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.active {
  color: #75020f;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: #75020f;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

/* --------- tray --------- */

#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
