* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
}

window {
  background-color: #111013;
  border: 2px solid #b43737;
  border-radius: 10px;
  padding: 16px;
}

#input {
  background-color: #2b0307;
  color: #ffffff;
  border: none;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#input:focus {
  border: 2px solid #8b1e1e;
}

#entry {
  padding: 6px;
  margin: 2px;
  border-radius: 5px;
  color: #ffffff;
}

#entry:selected {
  background-color: #8b1e1e;
  color: #ffffff;
}

#scroll {
  margin-top: 5px;
}

#img {
  padding-right: 8px;
}
